{% extends 'base.html.twig' %}

{% block title %}Edit Utilaisateurs{% endblock %}

{% block body %}
    <h1>Edit Utilaisateurs</h1>

    {{ include('utilaisateurs/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('utilaisateurs_index') }}">back to list</a>

    {{ include('utilaisateurs/_delete_form.html.twig') }}
{% endblock %}
