{% extends 'base.html.twig' %}

{% block title %}New Utilaisateurs{% endblock %}

{% block body %}
    <h1>Create new Utilaisateurs</h1>

    {{ include('utilaisateurs/_form.html.twig') }}

    <a href="{{ path('utilaisateurs_index') }}">back to list</a>
{% endblock %}
