<ion-header>
  <ion-toolbar>
    <img src="../../../assets/logo.jpg">
  </ion-toolbar>
</ion-header>
 

<ion-header>
  <ion-toolbar color="light">
    <ion-title>Modifier les informations</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="ionicForm" (ngSubmit)="submitForm()" novalidate>

    <ion-item lines="full">
      <ion-label   style="font-size: 16px;font-weight: 600;" color='danger'>Les champs sont obligatoires(*)</ion-label>
      
    </ion-item>
    <ion-item lines="none">
      <ion-label position="floating">Nom</ion-label>
      <ion-input formControlName="nom" value="{{responseStorage.Nom}}"   type="text"   ></ion-input>
      <span class="error ion-padding" *ngIf="isSubmitted && errorControl.nom.errors?.required">
        Champs Obligatoire.
      </span>
    </ion-item>

 
  <ion-item lines="none">
    <ion-label position="floating">Email</ion-label>
    <ion-input formControlName="email" value="{{responseStorage.email}}"   type="text"  ></ion-input>
    <span class="error ion-padding" *ngIf="isSubmitted && errorControl.email.errors?.required">
      Champs Obligatoire.
    </span>
  </ion-item>

  <ion-item lines="none">
    <ion-label position="floating">Nom d'utilisateur</ion-label>
    <ion-input formControlName="username" value="{{responseStorage.username}}"   type="text"  ></ion-input>
    <span class="error ion-padding" *ngIf="isSubmitted && errorControl.username.errors?.required">
      Champs Obligatoire.
    </span>
  </ion-item>

  <ion-item lines="full">
    <ion-label position="floating">Mot de passe actuel</ion-label>
    <ion-input formControlName="passold" value=""   type="password"  ></ion-input>
    <span class="error ion-padding" *ngIf="isSubmitted && errorControl.passold.errors?.required">
      Champs Obligatoire.
    </span>
  </ion-item>

  <ion-item lines="full">
    <ion-label position="floating">Nouveau mot de passe</ion-label>
    <ion-input formControlName="Nouveaupass" value=""   type="new-password"  ></ion-input>
   
  </ion-item>
   

     
      
  <ion-row >
    <ion-col>
      <ion-button type="submit"  class="marginbuttom"  color="warning" expand="block">Modifier</ion-button>
      <ion-button  class="marginbuttom"  color="success" expand="block"  [routerLink]="['/tabs/home']" >Annuler</ion-button>
     
     
    </ion-col>
  </ion-row>

 

 

   


 



    
  </form>

</ion-content>
